/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("normalize.css");
@import url("mathquill.css");
@import url("font-awesome.css");

a {
    text-decoration: none;
    color: #555;
}

.hidden {
    display: none;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

* {
    font-size: 1em;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#container {
    height: 100%;
}

header, footer {
    background-color: black;
    color: white;
}

header {
    margin-top: 0;
    font-size: 2rem;
    width: 97%;
    padding: 1.5%;
}

header #title {
    float: left;
}

#toolbar {
    float: right;
}

#button-container {
}

.button {
    margin-right: 15px;
    font-size: 1.3rem;
    text-align: center;
    line-height: 100%;
    color: white;
    cursor: pointer;
}

.button:hover {
    color: #CCC;
}

main {
    padding: 5%;
}

.notecard {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    margin-bottom: 2px;
    border: 1px solid grey;
}

.mathbox {
    width: 96%;
    height: 100%;
    min-height: 1.5rem;
    font-size: 1.5rem;
    padding: 1% 2%;
    border: none;
    border-bottom: 1px dotted #EEE;
    box-shadow: none !important;
}

.overlay-header {
    margin-top: 0;
    background-color: black;
    color: white;
    padding: 1.5%;
    width: 97%;
    font-size: 2rem;
}

.overlay-title {
    float: left;
    left: 23%;
    position: relative;
    width: 14%;
    text-align: center;
}

.overlay-close{
    float: left;
    font-size: 2rem;
    width: 20%;
    text-align: left;
}

.overlay-body {
    padding: 3%;
}

.overlay-body td.codebox {
    padding-bottom: 2%;
    width: 40%;
}

.overlay-body .code {
    padding: 0.5%;
    background-color: #EEE;
    color: #555;
    border-radius: 10%;
    z-index: 99;
    font-family: Courier, Consolas, monospace;
}

.overlay-body td .code {
    padding: 1%;
}

#text-output {
    padding: 1%;
    font-size: 1.2rem;
    display: inline-block;
    background-color: white;
}

#latex-source {
    width: 70%;
    font-size: 1.2rem;
    font-family: Courier, Consolas, monospace;
}

footer {
    width: 98%;
    text-align: center;
    padding: 1%;
    margin-top: auto;
    font-size: 1.2rem;
}

footer a {
    text-decoration: none;
    color: lightgrey;
    padding-right: 10%;
    padding-left: 10%;
}

/*TODO: make this all responsive*/